<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Admin panel</title>
</head>
<body>
<h1>Admin panel</h1>
<div th:insert="~{fragments::logout}"></div>
<br>
<form action="/users" method="get">
    <label for="nickName">
    <input id="nickName" type="text" name="nickName" placeholder="nickname"> </label>

    <label for="email">
        <input id="email" type="text" name="email" placeholder="email"> </label>
<button type="submit" > Find by filters </button>
</form>
<br>
<br>
<table>
    <tr>
        <th>User Id            </th>
        <th>Nickname           </th>
        <th>Email              </th>
        <th>Role               </th>
    </tr>
   <tr th:each="user : ${users}">
        <td  th:text="|${user.getUserId}.|">Id </td>
        <td th:text="${user.nickName}">Nick</td>
        <td> <a th:href="@{'/users/'+${user.getUserId}}"  th:text="${user.email}"> Email как ссылка </a></td>
        <td th:text="${user.role}">Role</td>
   </tr>
</table>

</body>
</html>